$black: #272e35;
$white: #ffffff;
$gray: #6e757c;
$gray-dark: #6a7986;
$gray-light: #bac3ca;
$orange: #faa87a;
$asphalt: #969db1;
$light: #eeeff2;
$primary: #ff6e30;
$secondary: #748fb5;
$dark: #1e252b;
$dark-bg: #2c353d;
$dark-light: #74777e;

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/* Estilos generales */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: $light;
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  border: transparent solid 2px;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.primary {
  background-color: $primary;
  color: $white;
}
.primary:hover {
  background-color: #fc4b00;
}

.outlined {
  background-color: transparent;
  border-color: $dark-bg;
  color: $dark-bg;
}

.outlined:hover {
  background-color: $dark-bg;
  color: $white;
}

/* Fin generales */

/* Header y Navbar */
header {
  padding: 0 10vw;
  background-color: $dark;
  color: $light;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px $asphalt;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    color: $light;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  li:after {
    display: block;
    content: ' ';
    border-bottom: solid 2px $light;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  li:hover:after {
    transform: scaleX(1);
  }
  @media screen and (max-width: 768px) {
    left: -2000px;
    height: 80vh;
    top: 100%;
    position: absolute;
    transition: all 0.5s;
    flex-direction: column;
    background-color: $dark-bg;
    width: 100%;
    &.active {
      transform: translateX(2000px);
      li {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.burger {
  display: none;
  padding: 0;
  @media screen and (max-width: 768px) {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    color: $light;
  }
}

/* End Header y Navbar */

.main {
  min-height: 60vh;
  padding: 5vh 10vw;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position-x: 45vw;
  background-position-y: top;
  background-size: 50%;
}
.hero {
  width: 49vw;
  &__title {
    font-size: 72px;
  }
  &__text {
    font-size: 20px;
  }
  
}



.main__form {
  width: 31vw;
  display: flex;
  flex-direction: column;
  background-color: $dark-bg;
  padding: 3rem;
  border-radius: 2rem;
  color: $white;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

.form-control {
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.clients__container {
  margin: 0 10vw;
  margin-top: 6rem;
}

.clients__title {
  text-align: center;
  color: $gray;
  margin-bottom: 2rem;
  font-weight: 400;
}
.client {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: $gray-dark;
}


 /* Media queries */

@media screen and (max-width: 1180px) {
    .hero {
        &__title {
            font-size: 48px;
          }
          &__text {
            font-size: 16px;
          }
    }
    
  }



@media screen and (max-width: 768px) {
    .btn {
        font-size: 0.9rem;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        width: 100%;
        text-align: center;
        &__title {
            font-size: 40px;
          }
          &__text {
            font-size: 16px;
          }
    }
    .clients__container {
       display: none;
      }
  }